body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nivelI {
    width: 600px;
    height: 400px;
    background-color: rgb(60, 6, 38);
}

.nivelII {
    width: 550px;
    height: 350px;
    background-color: rgb(199, 110, 166);
}

.nivelIII {
    width: 500px;
    height: 300px;
    background-color: rgb(161, 90, 147);
}
.nivelIV {
    width: 450px;
    height: 250px;
    background-color: pink;
}

.nivelV {
    width: 400px;
    height: 200px;
    background-color: white;
}

.nivelVI {
    width: 350px;
    height: 150px;
    background-color: lightblue;
}

.nivelVII {
    width: 300px;
    height: 100px;
    background-color: rgb(86, 185, 190);
    font-size: 20px;
    text-align: center;
}